@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: #EFF5FC ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    background: #D2E3F5;
    backdrop-filter: blur;
    height: 591px;
    width: 394px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 8px 12px 0 rgba( 0, 0, 0, 0.17);
}


.calculator {
    background: white;
    height: 537px;
    width: 330px;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
.calculator form input {
    border: 0;
    outline: 0px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    /*box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2); */
    background: transparent;
    font-size: 17px;
    color: #617181;
    cursor: pointer;
    margin: 4px;
    border: 2px solid #DFDFDF;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    height: 125px;
    width: 278px;
    font-size: 45px;
    background-color: #F1F1F1;
    box-shadow: none;
}

form input.equal {
    width: 133px; 
    background-color: #DFCCE4;
}

form input.clear-all{
    background-color: #A6C7EA;
}

form input.bagi{
    background-color: #A6C7EA;
}

form input.delet{
    background-color: #A6C7EA;
}

form input.kali{
    background-color: #93BDD7;
}
form input.kurang{
    background-color: #B0B6D9;
}
form input.tambah{
    background-color: #CDB4D9;
}

form input.angka{
    color: black;
}
